@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  background-color: #E6E6FA;
}

.App {
  text-align: center;
  font-family: Roboto,Arial,Helvetica,sans-serif;
  color: rgb(65, 65, 65);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  background-color: #9370DB;
  height: 50px;
  color: white;
}

.loginTitle {
  margin: 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.inlineHeader {
  font-size: 1.1em;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.headerContentContainer {
  height: 100%;
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}