.table-responsive {
    background-color: white;
}

td {
    max-width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.buttonColumn {
    max-width: 15px;
}

.typeColumn {
    max-width: 25px;
}